<h2>Your Expenses</h2><br>

<form method="get" action="/expenses">
    <input type="text" name="search">
    <input type="submit" value="Search for an expense!">
  </form><br>
  
<% if current_user.expenses.any? %>
<ul>
<% @expenses.each do |expense| %>
  <li><a href="/expenses/<%=expense.id%>"><%= expense.date %>:&nbsp;<%= expense.vendor %></a></li><br>
  <% end %>
  <% else %>
  <p>There are no recorded expenses!!!</p><br>
  <% end %>
  </ul>
  
  