<% if logged_in? %>
<h2>Your Expenses</h2><br>
<ul>
<% @expenses.each do |expense| %>
  <li><a href="/expenses/<%=expense.id%>"><%= expense.date %>:&nbsp;<%= expense.vendor %></a></li><br>
  <% end %>
  <% else %>
  <br></br>
  <p>There are no recorded expenses!!!</p><br>
<% end %>
</ul>
