<h1>Add your daily/monthly expenses here</h1>

<form action="/expenses" method="post">
  <label for="vendor">Vendor:</label><br>
  <input type="text" id="vendor" name="expense[vendor]"><br>
  </br>
  <label for="date">Date:</label><br>
  <input type="date" id="date" name="expense[date]"><br>
  </br>
  <label for="description">Description:</label><br>
  <input type="text" id="description" name="expense[description]"><br>
  </br>
  <label for="total_amount">Total_Amount: $</label><br>
  <input type="number" name="expense[total_amount]" id="total_amount" min="0.00"><br>
  </br>
  <input type="submit" value="Create Expense">
</form>
